<!DOCTYPE html>
<html lang="en">
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark col-sm-12" style="margin:0;">
  <div class=" navbar-nav" id="navb">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" style="color: antiquewhite" href="home">ShopeToday</a>
    </ul>
    <form class="form-inline my-5 my-lg-0"style="margin-left: 160px">
      <input class="form-control mr-sm-2" type="text" size="50" placeholder="Search" [(ngModel)]="searchedItem" [ngModelOptions]="{standalone: true}">
      <button class="btn btn-secondary my-1 my-sm-0" type="button" (click)="searchOnClick()">Search</button>
    </form>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown"  *ngIf="!loginService.isUserLoggedIn()">
        <a class="nav-link dropdown-toggle ml-1" data-toggle="dropdown" href="#" id="navbardrop">
        Get Started</a>
        <div class="dropdown-menu bg-dark">
          <a class="nav-link bg-dark dropdown-item" href="login" routerLink="/login">Login</a>
          <a class="nav-link bg-dark dropdown-item" href="signup" routerLink="/signup">Sign Up</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="" routerLink="/cart">Cart</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="orderHistory">OrderHistory</a>
      </li>
      <li class="nav-item"  *ngIf="loginService.isUserLoggedIn()">
        <a class="nav-link" href="myaccount">My Account</a>
      </li>
      <li class="nav-item"  *ngIf="loginService.isUserLoggedIn()">
        <a class="nav-link" href="logout">Logout</a>
      </li>
      <li class="nav-item" *ngIf="loginService.isUserLoggedIn() && this.role=='Admin'">
        <a class="nav-link" href="addproduct">Add Product</a>
      </li>
    </ul>
  </div>
</nav>
<nav class="navbar navbar-expand-sm  navbar-light secondNav">
  <ul class="navbar-nav">
    <li class="nav-item active listyle">
      <a class="nav-link nava" href="#">Home</a>
    </li>
    <li class="nav-item active listyle">
      <a class="nav-link nav" routerLink="/productlist/electronic">Electronics</a>
    </li>
    <li class="nav-item active listyle">
      <a class="nav-link nav" href="#" routerLink="/productlist/clothing">Clothing</a>
    </li>
    <li class="nav-item active listyle">
      <a class="nav-link nav" href="#" routerLink="/productlist/footwear">Footwear</a>
    </li>
    <li class="nav-item active listyle">
      <a class="nav-link nav" href="#" routerLink="/productlist/book">Books</a>
    </li>

  </ul>
</nav>
<router-outlet></router-outlet>
</body>
</html>
