<app-navbar></app-navbar>
<div class="container bg-light">

  <div class="row bg-light">
    <div class="col-4 mt-4 bg-light">
      <div class="row">
        <div class="col-md-6">
          <div class="profile-head">
            <h5>
              Name
            </h5>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
              </li>
            </ul>
          </div>
        </div>
        <!--<div class="col-md-2">
          <input type="submit" (click)="edit()" class="profile-edit-btn" name="btnAddMore" value="Edit Profile"/>
        </div>-->
      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="tab-content profile-tab" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
              <div class="row">
                <div class="col-md-6">
                  <label>User Id</label>
                </div>
                <div class="col-md-6">
                  <p>{{user.userName}}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label>Name</label>
                </div>
                <div class="col-md-6">
                  <p>{{temp}}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label>Email</label>
                </div>
                <div class="col-md-6">
                  <p>{{temp1}}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label>Phone</label>
                </div>
                <div class="col-md-6">
                  <p>{{temp3}}</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <label>Password</label>
                </div>
                <div class="col-md-6">
                  <p>{{temp2}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-7 mt-4 pr-5 pl-5 block bg-light">
      <!--<div class="bg-light mt-3 block pl-5">-->
      <h4 class="pt-2">Account Details</h4><hr>

      <form>

        <div class="form-group">
          <div>
            <label>Edit Name :</label>
          </div>
          <input type="text" class="form-control" id="name" placeholder="{{user.name}}" name="name" value="{{temp}}" [(ngModel)]="user.name">
        </div>
        <div class="form-group">
          <div>
            <label>Edit Email :</label>
          </div>
          <input type="email" class="form-control" id="uname" placeholder="{{user.email}}" value="{{user.email}}" name="email" [(ngModel)]="user.email">
        </div>
        <div class="form-group">
          <div>
            <label>Edit Password :</label>
          </div>
          <input type="password" class="form-control" id="pwd" placeholder="Edit Password"  value="{{user.password}}" name="pswd" [(ngModel)]="user.password">
        </div>
        <div class="form-group">
          <div>
            <label>Edit Mobile Number :</label>
          </div>
          <input type="text" class="form-control" id="number" placeholder="{{user.phoneNumber}}" name="mob" value="{{user.phoneNumber}}" [(ngModel)]="user.phoneNumber">
        </div>
        <button type="submit" class="btn btn-primary mt-5 mb-5 w-100" (click)="editUser()">Edit Details</button>
      </form>

    </div>
    <!--</div>-->
  </div>
</div>
